.product-card {
    /*background: #efefef;*/
    flex-basis: 33%;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
.product-title {
    text-transform: capitalize;
    text-align: center;
}
.product-image {
    width: 100%;
}