.wrap {
    display: flex;
    flex-wrap: wrap;
}
.post-card {
    box-sizing: border-box;
    background: #d8fff6;
    flex-basis: 20%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #881e1e;
}
.post-card>h3 {
    text-align: center;
}
.post-card>p {
    text-align:justify;
}