.wrap {
    min-height: 40vh;
    column-gap: 20px;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 30%;
    border: 1px solid black;
    flex-direction: column;
    justify-content:center;
    height: 300px;
    padding: 20px 0;
}
a {
    text-decoration: none;
    color: #000;
    padding-left: 50%;
}
.item {
    width: 75%;
    font-family: Arial, serif;
    text-align: center;
    padding: 15px 0;
}
.item_1 {
    font-size: 1.3em;
}
.item_2 {
    line-height: 2em;
}
.item_3 {
    border: 1px solid black;
}
