.wrap {
    min-height: 40vh;
    column-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    margin-top: 50px;
    width: 30%;
    border: 2px solid #dedede;
    flex-direction: column;
    justify-content:center;
    height: 300px;
    padding: 20px 0;
    position: relative;
}
.item {
    width: 75%;
    font-family: Arial, serif;
    text-align: center;
    padding: 15px 0;
}
.item_1 {
    font-size: 1.3em;
}
.item_2 {
    line-height: 2em;
}
.item_3 {
    border: 2px solid #b9b9b9;
}
a {
    text-decoration: none;
    color: #000;
}
.fa-solid {
    display: block;
    padding: 25px;
    font-size: 1.5em;
    color: #ffd400;
    position: absolute;
    top: -50px;
    background: #ffffff;
    border: 2px solid #dedede;
    border-radius: 50%;
}
.next {
    display: block;
    padding: 30px;
}